NN Regression and an OLS regression. Compare the two. How similar are they? Do they miss in different ways?

In [ ]:
#GitHub
pip install nbdime

In [ ]:
nbdiff notebook_1.ipynb notebook_2.ipynb

#For WEB
    #nbdiff-web notebook_1.ipynb notebook_2.ipynb

In [ ]:
nbdime config-git --enable --global
#web-base mergetool for visualizing and resolving merge conflicts, and it can be launched by calling Code
    #nbdime mergetool

In [1]:
import numpy as np
import pandas as pd
import scipy.stats
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#Need to convert XLS file to CSV import pandas as pd #Users⁩/⁨mehrunisaqayyum⁩/⁨Downloads/SVAC_2.0_complete_X.1.xlsx⁩',sheet_name=None)
#df_xls.to_csv('SVAC_2.0_complete_X.1.csv'
#df_xls2 serves as second data set for country population 
#Need to concatenate both data sets

df_xls = pd.read_excel('http://www.sexualviolencedata.org/wp-content/uploads/2019/12/SVAC_2.0_complete_X.1.xlsx',dtype='object') #encoding='utf-8')
df_xls2 = pd.read_excel('/Users/mehrunisaqayyum/Downloads/population by country.xlsx', header=1)

In [3]:
df_xls

,year,conflictid_old,conflictid_new,actor,actorid,actorid_new,actor_type,type,incomp,region,...,gwnoloc2,gwnoloc3,gwnoloc4,conflictyear,interm,postc,state_prev,ai_prev,hrw_prev,form
0,1989,6,205,Iran,630,114,1,3,1,2,...,0,0,0,0,1,0,0,0,0,-99
1,1990,6,205,Iran,630,114,1,3,1,2,...,0,0,0,1,0,0,0,0,0,-99
2,1991,6,205,Iran,630,114,1,3,1,2,...,0,0,0,0,1,0,0,0,0,-99
3,1992,6,205,Iran,630,114,1,3,1,2,...,0,0,0,0,1,0,0,0,0,-99
4,1993,6,205,Iran,630,114,1,3,1,2,...,0,0,0,1,0,0,0,0,0,-99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9277,2015,298,13694,Libya,620,111,1,3,1,4,...,0,0,0,1,0,0,0,0,1,7
9278,2015,13721,13721,Algeria,615,109,1,3,1,4,...,0,0,0,1,0,0,0,0,0,-99
9279,2015,13721,13721,Jund al-Khilafah,5870,5870,3,3,1,4,...,0,0,0,1,0,0,0,0,0,-99
9280,2015,13902,13902,IS,1076,234,3,3,1,2,...,0,0,0,1,0,0,0,0,0,-99
9281,2015,13902,13902,Turkey,640,115,1,3,1,2,...,0,0,0,1,0,0,0,0,0,-99

## Data Cleaning

In [4]:
merged_df = pd.merge(df_xls, df_xls2, how='inner', left_on='location', right_on='location')

In [5]:
merged_df

,year,conflictid_old,conflictid_new,actor,actorid,actorid_new,actor_type,type,incomp,region,...,state_prev,ai_prev,hrw_prev,form,population,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,1989,6,205,Iran,630,114,1,3,1,2,...,0,0,0,-99,76481961,NaN,NaN,NaN,NaN,NaN
1,1990,6,205,Iran,630,114,1,3,1,2,...,0,0,0,-99,76481961,NaN,NaN,NaN,NaN,NaN
2,1991,6,205,Iran,630,114,1,3,1,2,...,0,0,0,-99,76481961,NaN,NaN,NaN,NaN,NaN
3,1992,6,205,Iran,630,114,1,3,1,2,...,0,0,0,-99,76481961,NaN,NaN,NaN,NaN,NaN
4,1993,6,205,Iran,630,114,1,3,1,2,...,0,0,0,-99,76481961,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8572,2011,273,11349,ETIM,2041,1156,3,3,1,3,...,0,0,0,-99,1422971062,NaN,NaN,NaN,NaN,NaN
8573,2012,273,11349,ETIM,2041,1156,3,3,1,3,...,0,0,0,-99,1422971062,NaN,NaN,NaN,NaN,NaN
8574,2013,273,11349,ETIM,2041,1156,3,3,1,3,...,0,0,0,-99,1422971062,NaN,NaN,NaN,NaN,NaN
8575,2015,294,13646,Al-Shabaab,1578,717,3,3,1,4,...,0,0,0,-99,45519981,NaN,NaN,NaN,NaN,NaN
8576,2015,294,13646,Kenya,501,91,1,3,1,4,...,1,0,0,6,45519981,NaN,NaN,NaN,NaN,NaN

In [13]:
merged_df.columns

Index(['year', 'conflictid_old', 'conflictid_new', 'actor', 'actorid',
       'actorid_new', 'actor_type', 'type', 'incomp', 'region', 'location',
       'gwnoloc', 'gwnoloc2', 'gwnoloc3', 'gwnoloc4', 'conflictyear', 'interm',
       'postc', 'state_prev', 'ai_prev', 'hrw_prev', 'form', 'population',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6'],
      dtype='object')

In [6]:
crime_counts = merged_df['form'].value_counts()
print(crime_counts)

-99              7671
1                 566
1, 7               99
7                  69
1, 2               53
1, 2, 7            26
2                  25
1, 6, 7             7
1, 3                4
1, 2, 3, 5          4
1, 6                3
1, 2, 6             3
1, 2, 6, 7          3
1, 5                3
1, 3, 5             3
5                   2
1, 5, 7             2
2, 3                2
2, 3, 5             2
3                   2
6                   2
1, 2                2
1, 3, 7             2
1, 2 , 7            1
1, 2, 5,            1
1, 2, 3             1
1, 5, 6             1
1, 2, 5             1
2, 5, 7             1
1,7                 1
1, 2, 5, 7          1
1, 2, 3, 5, 7       1
2, 7                1
6, 7                1
5, 7                1
Name: form, dtype: int64

In [14]:
df_xls['form'] = pd.to_numeric(df_xls['form'], errors='coerce')
print(merged_df)

      year conflictid_old conflictid_new       actor actorid actorid_new  \
0     1989              6            205        Iran     630         114
1     1990              6            205        Iran     630         114
2     1991              6            205        Iran     630         114
3     1992              6            205        Iran     630         114
4     1993              6            205        Iran     630         114
...    ...            ...            ...         ...     ...         ...
8572  2011            273          11349        ETIM    2041        1156
8573  2012            273          11349        ETIM    2041        1156
8574  2013            273          11349        ETIM    2041        1156
8575  2015            294          13646  Al-Shabaab    1578         717
8576  2015            294          13646       Kenya     501          91

     actor_type type incomp region  ... state_prev ai_prev hrw_prev form  \
0             1    3      1      2  ...          0       0        0  -99
1             1    3      1      2  ...          0       0        0  -99
2             1    3      1      2  ...          0       0        0  -99
3             1    3      1      2  ...          0       0        0  -99
4             1    3      1      2  ...          0       0        0  -99
...         ...  ...    ...    ...  ...        ...     ...      ...  ...
8572          3    3      1      3  ...          0       0        0  -99
8573          3    3      1      3  ...          0       0        0  -99
8574          3    3      1      3  ...          0       0        0  -99
8575          3    3      1      4  ...          0       0        0  -99
8576          1    3      1      4  ...          1       0        0    6

      population Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6
0       76481961        NaN        NaN        NaN        NaN        NaN
1       76481961        NaN        NaN        NaN        NaN        NaN
2       76481961        NaN        NaN        NaN        NaN        NaN
3       76481961        NaN        NaN        NaN        NaN        NaN
4       76481961        NaN        NaN        NaN        NaN        NaN
...          ...        ...        ...        ...        ...        ...
8572  1422971062        NaN        NaN        NaN        NaN        NaN
8573  1422971062        NaN        NaN        NaN        NaN        NaN
8574  1422971062        NaN        NaN        NaN        NaN        NaN
8575    45519981        NaN        NaN        NaN        NaN        NaN
8576    45519981        NaN        NaN        NaN        NaN        NaN

[8577 rows x 28 columns]

In [17]:
def my_function(x):
    if x == -99:
        return 1
    else:
        return x + 1 
    
#merged_df['crime_fixed_another_way'] = merged_df['form'].apply(my_function)  #substituted "crime" for "form"

#merged_df['crime_fixed_another_way'] = merged_df['length_of_form'].apply(lambda x: 1 if x == -99 else x+1)
merged_df['crime_counts'] = merged_df['form'].apply(lambda x: 1 if x == -99 else x+1)

TypeError: can only concatenate str (not "int") to str

In [12]:
merged_df['sex_violence'] = ((merged_df['state_prev']+ merged_df['ai_prev']+ merged_df['hrw_prev']) * merged_df['crime_fixed_another_way'])/ merged_df['population']
print(merged_df['sex_violence'])

KeyError: 'crime_fixed_another_way'